
@{
    ViewBag.Title = "Stratus OGSM - Client Portal Goal Setup - Goals Assessment";
}

<script src="~/Scripts/App/GoalSetup/GoalAssessment/GoalAssessmentController.js"></script>

<section class="content-header">
    <h1>
        Goal Setup - Goal Assessment
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Goal Setup - Goal Assessment</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-lg-12 ">
        <div>
            <div ng-controller="GoalAssessmentController as ctrl">
                <div class="row">
                    <div class="col-md-12">
                            @Html.Partial("_GoalAssessment")
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->


