@model FCL.Cockerham.Ogsm.Entities.DTOs.RoleDto
<script type="text/javascript">
    $(document).ready(function () {
        //Unbind the original image 'href' set by the controller...
        $('.deleteUser').attr('href', 'javascript://');
        $('.deleteUser').click(function () {
            $dialog.data('id', $(this).attr('id')).data('userId', $(this).attr('userId')).dialog("open");
        });

        var $dialog = $('<div/>')
		.html("This User will be removed from the selected Role.<br/><br/>Do you wish to continue?")
		.dialog({
		    autoOpen: false,
		    resizable: false,
		    height: 200,
		    modal: true,
		    title: 'Remove Role',
		    buttons: [
                        {
                            text: "Continue",
                            id: "continuebtn",
                            click: function () {
                                var _userId = $(this).data('userId');
                                var _id = $(this).data('id');

                                var _parameters = { userId: _userId, id: _id };
                                $.ajax({
                                    url: "/Admin/DeleteUserFromRoleReturnPartialView",
                                    type: "GET",
                                    data: _parameters,
                                    success: function (data, textStatus, jqXHR) {
                                        $('#UsersTable').html(data);
                                    }
                                });
                                $(this).dialog('close');
                            }
                        },
                        {
                            text: "Cancel",
                            id: "cancelbtn",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }]
		});
    });
</script>

@{if (Model.Users.Count == 0)
{
    <div class="panel panel-primary table-responsive">
        <div class="panel-body">
            <h2><font color="red">No Associated Users...</font></h2>
        </div>
    </div>
}
  else
  {
    <div class="panel panel-primary table-responsive" id="RolesTable">
        <div class="panel-body">
            <table id="UserTable" class="table table-striped table-hover" style="width: 65%">
                <thead>
                <th style="width:90%">
                    User
                </th>
                <th>
                    Action
                </th>
                </thead>
                @foreach (FCL.Cockerham.Ogsm.Entities.User user in Model.Users.OrderBy(u => u.UserName))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(user.UserName, "UserDetails", new { id = user.UserId })
                        </td>
                        <td>
                            <center>
                                <a href="@Url.Action("DeleteUser", "Admin", new { id = Model.RoleId, userId = user.UserId })" class="deleteUser" id=@Model.RoleId userid=@user.UserId>
                                    <span class="bin glyphicon glyphicon-remove"></span>
                                </a>
                            </center>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
  }}

