<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Objective List</h3>
    </div>
    <div id="gridContent" class="box-body">
        <table id="tblObjectives" class="table table-bordered table-striped" ng-table="objectiveVm.tableParams">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="objective in $data">
                    <td data-title="'Name'">{{objective.Name}}</td>
                    <td data-title="'Is Active'">{{objective.IsActive}}</td>
                    <td data-title="'Edit'">
                        <button type="button"
                                class="btn btn-default btn-xs pull-right"
                                ng-click="LoadById(objective.ObjectiveId)">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        @Resources.SystemResources.Common_webgrid_row_count_text <span id="rowCount">{{objectiveVm.tableParams.total()}}</span>
    </div>
</div>