@{
    ViewBag.Title = "_Footer";
}

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <strong>Powered by <a href="http://www.fclanka.com" target="_blank">Four Corners Lanka Pvt Ltd</a></strong>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="http://www.stratustms.com" target="_blank">Cockerham & Associates, LLC</a>.</strong> All rights reserved.
</footer>