@model FCL.Cockerham.Ogsm.Entities.ViewModel.BusinessUnitViewModel

@{
    ViewBag.Title = "Stratus OGSM - Client Portal Company Setup - Business Units";
}

<script src="~/Scripts/App/CompanySetup/BusinessUnit/BusinessUnit.js"></script>

<section class="content-header">
    <h1>
        Company Setup - Business Units
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Company Setup - Business Units</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-lg-12 ">
        <div ng-controller="BusinessUnitViewModel as businessUnitVm">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-success">
                            @Html.Partial("_CreateBusinessUnit", @Model)
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Partial("_BusinessUnitGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->


